@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap");

body {
  text-align: center;
  background-color: #0d0d0d;
  background-image:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.03)), rgba(0, 255, 0, 0.01),
    rgba(0, 0, 255, 0.03);
  background-size:
    100% 4px,
    3px 100%;
  text-shadow: gold;
  color: white;
  cursor: url(../assets/normal.png), auto;
  position: relative;
  z-index: 0;
}

@keyframes scan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100px;
  }
}
#tvz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/fundao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0; /* Começa invisível */
  z-index: 9999; /* Garante que fique por cima de tudo */
  pointer-events: none;
  transition: opacity 0.5s ease;
}
@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0px 0px);
  }
}
@keyframes ligar {
  0% {
    width: 0%;
    height: 2px;
    opacity: 1;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.tv-frame {
  animation: ligar 0.6s ease forwards;
}
.tv-wrapper {
  transform-origin: center;
}

:root {
  --vermei: #d32f2f;
  --vescuro: #b71c1c;
  --bordared: solid #d32f2f;
  --bdn: #1a1a1a;
  --cursorsel: url("../assets/select.png"), auto;
  --chibi: url(../assets/chibidon-removebg-preview.png);
  --bwhite: solid #dedede;
  --sobravc: rgba(211, 47, 47, 0.3);
  --sombrave: rgba(211, 47, 47, 0.45);
}

.superior {
  transition: 0.8s ease all;
  transform: translateY(50px);
  opacity: 0;
}

.superior.show {
  opacity: 1;
  transform: translateY(0);
}

nav {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #d32f2f;
  background-color: var(--bdn);
  overflow: hidden;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: var(--bordared) 1px;
  transition: 0.5s;
  cursor: var(--cursorsel);
}

li a:hover {
  background-color: #d32f2f;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: var(--cursorsel);
  position: relative;
}

@keyframes apareceu {
  0% {
    rotate: 2deg;
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

li a:hover::after {
  content: "";
  background-image: url(../assets/chibidon-removebg-preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  top: -20px;
  right: -30px;
  position: absolute;
  animation: apareceu 0.5s;
}

.parte2 {
  display: inline-flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.linkard:hover,
.linkard1:hover,
.linkard2:hover {
  border-color: #d32f2f;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(211, 47, 47, 0.4);
  color: #d32f2f;
}

.linkard1,
.linkard2,
.linkard {
  width: 300px;
  height: 200px;
  text-decoration: none;
  border: 20px solid #333;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease;
  display: inline-flex;
  align-items: flex-end;
}
.linkard1 {
  background-image: url(../assets/S0_5.png);
}
.linkard2 {
  background-image: url(../assets/Branch_J-03_Floor_2.png);
}
.linkard {
  background-image: url(../assets/combat.webp);
}

.linkard:hover h3,
.linkard1:hover h3,
.linkard2:hover h3 {
  color: #d32f2f;
  /* Vermelho Limbus */
  transition: color 0.4s ease;
  /* Para acompanhar a suavidade do card */
}

h1,
h2 {
  text-shadow: #d32f2f 0 10px 10px;
  transition: 0.5s;
}

h1:hover,
h2:hover {
  color: #b71c1c;
  font-weight: bold;
  transform: translateX(2px);
}

ul span {
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ul img {
  float: right;
  display: block;

  width: 20px;
  height: 20px;
  margin-left: 6px;
}

ul li {
  float: left;
}

.sinnergrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

.sinnercard {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-left: 5px solid #d32f2f;
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  height: 500px;
  text-align: center;
  transition: transform 0.25s;

  margin: 10px;
}

.sinnercard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(211, 47, 47, 0.3);
}

.sinnercard img {
  border-radius: 3px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.sinnercard h2 {
  color: #d32f2f;
  margin: 10px 0 5px;
}

.sinnercard button {
  background-color: transparent;
  border: 1px solid #d32f2f;
  color: #d32f2f;
  padding: 8px 15px;
  cursor: pointer;
  font-family: inherit;
  transition: background 0.2s;
}

.sinnercard button:hover {
  background-color: #d32f2f;
  color: white;
}

.lcb {
  background-image: url(../assets/S214_14.png);
  width: 90%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid #dedede;
  transition: 0.5s;
  box-shadow: 0 10px 10px rgba(211, 47, 47, 0.3);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  background-size: cover;
}

.lcb:hover {
  transform: translateY(-5px);
  border: 6px solid var(--vermei);
  box-shadow: rgba(211, 47, 47, 0.3) 0 15px 15px;
}

.linkard h3,
.linkard1 h3,
.linkard2 h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;

  background: rgba(0, 0, 0, 0.7);
  color: #efefef;

  /* Fonte estilo terminal/código */
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 4px 12px;
  border-left: 3px solid #b71c1c;

  /* Um leve reflexo para parecer vidro/tela */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  pointer-events: none;
  z-index: 10;
}

.RD,
.RS {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #dedede;
  border-radius: 6px;
  width: 450px;
  height: 200px;
  display: inline-flex;
  margin-left: 50px;
  transition: 0.5s;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
}

.RD:hover,
.RS:hover {
  border: 2px solid #d32f2f;
  transform: translateY(-7px);
}

.timer-style {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: #d32f2f;
  text-shadow: 0 10px 10px rgba(211, 47, 47, 0.5);
  margin-top: 10px;
}

.subindu {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.9s ease all;
}

.subindu.show {
  transform: translateY(0);
  opacity: 1;
}

.pezao {
  width: 100%;
  height: 150px;

  bottom: 0;
  border-top: 3px #dedede solid;
  transition: 0.5s;
}

.pezao.passando {
  border-top: var(--bordared) 3px;
  animation: pisqueocu 0.5s;
}

.pes {
  margin-top: 150px;
}

.info {
  font-family: "JetBrains Mono", monospace;
  margin-top: 30px;
  transition: 0.5s;
  width: 100%;
  height: 50px;
}

.zoas {
  font-family: "JetBrains Mono", monospace;
}

.ek {
  color: #00ff41;
  text-shadow:
    0 0 5px rgba(57, 255, 20, 0.7),
    0 0 10px rgba(57, 255, 20, 0.5),
    0 0 20px rgba(57, 255, 20, 0.3);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.redes {
  color: #b71c1c;
  font-family: "JetBrains Mono", monospace;
  margin-top: 30px;
  display: inline-flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.s1:hover,
.s2:hover,
.s3:hover {
  color: #ffdf00;
  text-shadow:
    0 0 10px #ffdf00,
    0 0 20px rgba(255, 223, 0, 0.6);
  cursor: pointer;
  animation: pisqueocu 0.3s infinite;
  cursor: url(../assets/select.png), auto;
}

.s1,
.s2,
.s3 {
  margin-left: 16px;
  text-decoration: none;
  color: var(--vermei);
}

.pmoon {
  float: right;
  display: inline-flex;
  margin-top: -70px;
  width: 100px;
}

@keyframes pisqueocu {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
.redes:hover {
  cursor: url(../assets/select.png), auto;
}
.banneratual {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}
.imagemban {
  border: var(--bwhite) 5px;
  border-radius: 10px;
  box-shadow: 0 15px 15px var(--sobravc);
  transition: 0.5s;
  display: inline-flex;
  margin-left: 30px;
  margin-right: 30px;
}
.imagemban:hover {
  border: var(--bordared) 8px;
  border-radius: 10px;
  box-shadow: 0 20px 20px var(--sombrave);
  transform: translateY(-5px) scale(1.02);
  cursor: var(--cursorsel);
}
.nsei {
  width: 500px;
  height: 300px;
}
.boxbanner {
  display: inline-flex;
}
.titulo {
  flex-wrap: wrap;
}
.porti {
  width: 200px;
  height: 50px;
  border: 2px var(--bwhite);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  transition: 0.5s;
}
.porti span {
  font-family: "JetBrains Mono" monospace;
  font-size: 30px;
  transition: 0.5s ease;
}
.porti:hover {
  border: 3px var(--bordared);
  transform: translateY(-6px) scale(1.03);
<<<<<<< HEAD
=======
  cursor: var(--cursorsel);
>>>>>>> 5dc17ab (Hoje o terminal foi e tmb ajeitei aqula div com as noçoes de grid q obtive as 3 da manha)
}
.porti:hover span {
  color: var(--vermei);
  font-size: 32px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}
@keyframes pisca {
  50% {
    border-color: transparent;
  }
}
.divapai {
  border: 3px var(--bwhite);
  border-radius: 10px;

  width: 60%;
  display: flex;

  transition: 0.6s;
  margin: 0 auto;
}
.divapai:hover {
  border: 5px var(--bordared);
  transform: translateY(-6px);
}
.imadiva {
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.textadiva {
  justify-content: center;
  display: flex;
<<<<<<< HEAD
=======
  justify-content: end;
  border: red 1px solid;
>>>>>>> 5dc17ab (Hoje o terminal foi e tmb ajeitei aqula div com as noçoes de grid q obtive as 3 da manha)
  border-bottom: 2px var(--bordared);
  margin: 0 auto;
  height: 60px;
  width: 70%;
}
.terminal {
  background-color: #0d0d0d;
  border: 2px var(--bwhite);
  height: 300px;
  width: 70%;
  margin: 100px auto 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: text;
  border-radius: 10px;
  transition: 0.5s;
}
.terminal:hover {
  border: var(--bordared) 3px;
  box-shadow: var(--sombrave) 0 20px 20px;
}

.terminal-line {
  display: flex;
  align-items: flex-start; /* Alinha tudo no topo */
  gap: 10px; /* Espaço entre o USER:> e o texto */
}

.prefix {
  color: #b71c1c; /* Vermelho Limbus */
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  white-space: nowrap;
}

.textanal {
  flex: 1;
  background: transparent;
<<<<<<< HEAD
  border: none;
=======
  border: 1px var(--bordared);
>>>>>>> 5dc17ab (Hoje o terminal foi e tmb ajeitei aqula div com as noçoes de grid q obtive as 3 da manha)
  outline: none;
  color: #dedede;
  font-family: "Share Tech Mono", monospace;
  padding: 0;
  margin: 0;
  caret-color: #b71c1c;
}

/* sybau */
